{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.json"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
